<a style="mt-3" class="btn btn-primary" href="/panel_de_control">panel de control</a>
<a style="mt-3" class="btn btn-info" href="/maquinas_disponibles">ver maquinas disponibles</a>
<br>
<h2>Cargar una nueva maquinaria</h2>
<div class="container text-center">
    <form  class="form-group" action="/Cargar_Maquina/create" method="post">
    
    <div class="row align-items-start">  
       <div class="col efect">
        <label class="form-label"  for="Maquinaria Modalidad">Maquinaria Modalidad (nueva o usada)
            <select class="form-control move" name="maquinaria_modalidad" id="">
                <option value="Nueva">Nueva</option>
                <option value="Usada">Usada</option>
            </select>
       </label>
       </div>

        <div class="col efect">
        <label class="form-label "  for="Tipo de maquinaria">Tipo de maquinaria
            <select  class="form-control move" name="tipo_de_maquinaria" id="">
                <option value="Cosechadora"> Cosechadora</option>
                <option value="Sembradora"> Sembradora</option>
                <option value="Mixer"> Mixer</option>
                <option value="Plataforma"> Plataforma</option>
                <option value="Embolsadora"> Embolsadora</option>
                <option value="Moledora"> Moledora</option>
                <option value="Enfardadora"> Enfardadora</option>
            </select>
        </label>
        </div>

        <div class="col efect">
        <label  class="form-label" for="Modelo de Maquina">Modelo de Maquina
            <input  class="form-control move" type="text" name="modelo_maquina" id="" placeholder="indique el Modelo de máquina">
        </label>
        </div>

    </div> 

    <!--segunda terna de columnas-->

        <div class="row align-items-start"> 
            <div class="col efect">
                
            <label  class="form-label "  for="Disponibilidad"> Disponibilidad
                    <select  class="form-control move" name="disponibilidad" id="">
                        <option value="Propia">Propia</option>
                        <option value="En consignacion">En consignacion</option>
                    </select>
             </label>
            </div>

            <div class="col efect">
                <label class="form-label "  for="Estado del equipo">Estado del equipo
                    <select  class="form-control move" name="estado_del_equipo" id="">
                        <option value="En buen estado">En buen estado</option>
                        <option value="Regular">Regular</option>
                        <option value="A supervisar">A supervisar</option>
                    </select>
                </label>
            </div>

            <div class="col efect">
                <label  class="form-label "  for="Precio en USD">Precio en USD
                    <input  class="form-control move" type="text" name="precio_usd"  placeholder="Ingrese el precio en USD" >
                </label>
            </div>



        </div>
        
        <label  class="form-label "  for="Caracteristicas">Caracteristicas
         
        <textarea   class="form-control" name="caracteristicas" id="" cols="140" rows="10"></textarea>

        </label>

         <button class="btn btn-warning" type="submit">Cargar Maquina</button>       
        </form>



</div>
       

